# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
display(data.shape)
data.head()

(33702, 8)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
data['Annual Salary'].head()

0     72510.0
1     93354.0
2         NaN
3    132972.0
4     90024.0
Name: Annual Salary, dtype: float64

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
data.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
# Your code here:
data['Salary or Hourly'].value_counts(dropna=False)

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [9]:
# Your code here:
data.groupby('Department',as_index=False).agg({'Name':'count','Annual Salary':'mean'})

             Department   Name  Annual Salary
0          ADMIN HEARNG     38   80429.368421
1         ANIMAL CONTRL     75   71333.904762
2              AVIATION   1856   78736.342056
3     BOARD OF ELECTION    111   53915.315676
4       BOARD OF ETHICS      8   99795.000000
5         BUDGET & MGMT     44   98641.428571
6             BUILDINGS    258  106854.316744
7      BUSINESS AFFAIRS    167   84961.575000
8            CITY CLERK     88   74520.351818
9          CITY COUNCIL    362   71314.166667
10                 COPA    123   82272.682927
11     CULTURAL AFFAIRS     74   88910.625000
12                 DAIS   1033   94257.264167
13         DISABILITIES     28   88932.444444
14     FAMILY & SUPPORT    656   84472.394649
15              FINANCE    544   76588.304609
16                 FIRE   4627   96514.640813
17               HEALTH    467   90871.380645
18              HOUSING     66   92063.909091
19   HOUSING & ECON DEV    154   89883.655629
20      HUMAN RELATIONS     17   94992.000000
21      HUMAN RESOURCES     75   85977.440000
22        INSPECTOR GEN     95   85603.578947
23                  LAW    398   93691.645714
24    LICENSE APPL COMM      1   93984.000000
25       MAYOR'S OFFICE    104  105504.137931
26                 OEMC   1737   75097.424727
27               POLICE  13848   88834.118924
28         POLICE BOARD      2   89784.000000
29          PROCUREMENT     84   90967.170732
30       PUBLIC LIBRARY   1088   74109.540984
31  PUBLIC SAFETY ADMIN    244   93074.286735
32        STREETS & SAN   2175   88508.863222
33           TRANSPORTN   1113   95221.898605
34            TREASURER     28   92611.607143
35          WATER MGMNT   1914   96675.199551

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [12]:
# Your code here:
# Your code here:
import numpy as np
from scipy.stats import ttest_1samp

In [15]:
hourly_workers = data[data['Salary or Hourly'] == 'Hourly']['Hourly Rate']

In [16]:
ttest_1samp(hourly_workers, 30)

Ttest_1sampResult(statistic=31.211500329216044, pvalue=3.825475847673794e-202)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [18]:
# Your code here:
police_salary = data[(data['Department'] == 'POLICE') & (data['Annual Salary'].notnull())]['Annual Salary']
ttest_1samp(police_salary, 86000)

Ttest_1sampResult(statistic=18.51748561981861, pvalue=1.2239133904242963e-75)

Using the `crosstab` function, find the department that has the most hourly workers.

In [20]:
# Your code here:
pd.crosstab(data['Department'], data['Salary or Hourly']).sort_values(by='Hourly', ascending=False).head(1)

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1846     329

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [21]:
# Your code here:
streets_salary = data[(data['Department'] == 'STREETS & SAN') & (data['Hourly Rate'].notnull())]['Hourly Rate']
ttest_1samp(streets_salary, 35)

Ttest_1sampResult(statistic=4.000138803968834, pvalue=6.580474443773579e-05)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [22]:
# Your code here:
from scipy.stats import t
from scipy import stats

t.interval(0.95,len(hourly_workers)-1,loc=hourly_workers.mean(),scale=stats.sem(hourly_workers))

(34.29839539204361, 34.874504045197305)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [23]:
# Your code here:
t.interval(0.95,len(police_salary)-1,loc=police_salary.mean(),scale=stats.sem(police_salary))

(88534.1182885883, 89134.11955863392)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: